// Here you can add other styles
.btn-sepa {
  margin-left: 10px !important;
}

.posi-button {
  margin-top: 30px;
}

.btn-gen {
  margin-top: 5px !important;
}

// styles for instagram scraper views
.instagram-grid {
  .ag-row-hover {
    cursor: pointer;
  }
}

.insta-info-card {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  // followers and following icons
  div.h1.text-muted.text-right {
    margin-bottom: 0 !important;
  }
  .progress {
    margin-top: 1.5rem !important;
    margin-bottom: 0 !important;
  }
}

.card-title {
  margin: 0.25rem 0;
  font-weight: 600;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  .chart-canvas {
    width: 800px;
    height: 408px;
  }
}

@media only screen and (max-width: 1400px) {
  .chart-canvas {
    padding-top: 15%;
  }
}